<?xml version="1.0" ?>
<plist>
	<dict>
		<key>KEY</key>
		<string>en</string>
		<key>ACH_Title_Prefix</key>
		<string>Achievement</string>
		<key>ACH_Title_IQ250</key>
		<string>IQ 250</string>
		<key>ACH_Desc_IQ250</key>
		<string>Pass a stage with an IQ of 250</string>
		<key>ACH_Title_IQNegetive</key>
		<string>Negative IQ</string>
		<key>ACH_Desc_IQNegetive</key>
		<string>Such a fool</string>
		<key>ACH_Title_TooCurios</key>
		<string>Curiosity killed the cat</string>
		<key>ACH_Desc_TooCurios</key>
		<string>Nyan~Nyan~</string>
		<key>ACH_Title_TimeTerminator</key>
		<string>Time Terminator</string>
		<key>ACH_Desc_TimeTerminator</key>
		<string>Stop the time</string>
		<key>ACH_Title_KilledBySlime</key>
		<string>Killed by the lovely slime</string>
		<key>ACH_Desc_KilledBySlime</key>
		<string>Good job! Slime !</string>
		<key>ACH_Title_KilledBySpring</key>
		<string>Kill by spring</string>
		<key>ACH_Desc_KilledBySpring</key>
		<string>I love to fly!</string>
		<key>ACH_Title_TooImpatient</key>
		<string>Impatient</string>
		<key>ACH_Desc_TooImpatient</key>
		<string>Calm down, son~</string>
		<key>ACH_Title_NewWorld</key>
		<string>New world!</string>
		<key>ACH_Desc_NewWorld</key>
		<string>Find the new world in level 2-1</string>
		<key>ACH_Title_KilledByTrueLove</key>
		<string>Killed by true love</string>
		<key>ACH_Desc_KilledByTrueLove</key>
		<string>True love hurts</string>
		<key>ACH_Title_Diablo</key>
		<string>Diablo</string>
		<key>ACH_Desc_Diablo</key>
		<string>Destroy everything</string>
		<key>ACH_Title_DoorDestroyer</key>
		<string>Door Destroyer</string>
		<key>ACH_Desc_DoorDestroyer</key>
		<string>God love us. Stop destroying that door!</string>
		<key>ACH_Title_Diamond</key>
		<string>Rich boy!</string>
		<key>ACH_Desc_Diamond</key>
		<string>I am big big rich boy with a big big diamond.</string>
		<key>ACH_Title_BigFan</key>
		<string>Big fan of ThankCreate</string>
		<key>ACH_Desc_BigFan</key>
		<string>Thanks for choosing me ^_^</string>
		<key>ACH_Title_Suicide</key>
		<string>Suicide is painless.</string>
		<key>ACH_Desc_Suicide</key>
		<string>Cherish your life</string>
		<key>ACH_Title_GameOver</key>
		<string>A true story</string>
		<key>ACH_Desc_GameOver</key>
		<string>You IQ has beaten 1% of other players.</string>
		<key>ACH_Title_Singer</key>
		<string>Become a singer</string>
		<key>ACH_Desc_Singer</key>
		<string>Become a singer in stage 4-2</string>
		<key>ACH_Title_LifeWinner</key>
		<string>Life Winner</string>
		<key>ACH_Desc_LifeWinner</key>
		<string>Save your life in the game with the saw</string>
		<key>ACH_Title_SmartCreator</key>
		<string>Smart Creator</string>
		<key>ACH_Desc_SmartCreator</key>
		<string>Create a way to save the princess</string>
		<key>ACH_Title_2River</key>
		<string>The same river</string>
		<key>ACH_Desc_2River</key>
		<string>No man ever steps in the same river twice</string>
		<key>ACH_Title_TooYoung</key>
		<string>Too young too simple</string>
		<key>ACH_Desc_TooYoung</key>
		<string>Sometimes naive.</string>
		<key>ACH_Title_SaveFlag</key>
		<string>Life can't be saved</string>
		<key>ACH_Desc_SaveFlag</key>
		<string>Killed by the save flag in 5-1</string>
		<key>ACH_Title_GoodVision</key>
		<string>Good Vision</string>
		<key>ACH_Desc_GoodVision</key>
		<string>Find all pairs in 5-2</string>
		<key>ACH_Title_Miner</key>
		<string>Crazy Miner</string>
		<key>ACH_Desc_Miner</key>
		<string>Nothing is better than gold!</string>
		<key>ACH_Title_DefeatCNM</key>
		<string>Monster Hunter</string>
		<key>ACH_Desc_DefeatCNM</key>
		<string>Killed all monsters in 5-6</string>
		<key>ACH_Title_SlimeKiller</key>
		<string>Slime Killer</string>
		<key>ACH_Desc_SlimeKiller</key>
		<string>You hands are full of slimes' blood.</string>
		<key>ACH_Title_Plumber</key>
		<string>Plumber</string>
		<key>ACH_Desc_Plumber</key>
		<string>Plumber can be a hero.</string>
		<key>ACH_Title_ProfessionalSuicide</key>
		<string>Professional Suicide</string>
		<key>ACH_Desc_ProfessionalSuicide</key>
		<string>It's just a game</string>
		<key>ACH_Title_NotMove</key>
		<string>A block of wood</string>
		<key>ACH_Desc_NotMove</key>
		<string>Become a block of wood in 6-6.</string>
		<key>ACH_Title_BlueScreen</key>
		<string>Blue Screens Lover</string>
		<key>ACH_Desc_BlueScreen</key>
		<string>Stop your struggle. Restart is your salvation</string>
		<key>ACH_Title_GoodMan</key>
		<string>Being generous</string>
		<key>ACH_Desc_GoodMan</key>
		<string>Love covers over all wrongs.</string>
		<key>ACH_Title_TouchTouch</key>
		<string>Hyperactivity</string>
		<key>ACH_Desc_TouchTouch</key>
		<string>Don't give up your treatment.</string>
		<key>ACH_Title_Achievement</key>
		<string>Achievement</string>
		<key>ACH_Desc_Achievement</key>
		<string>Just an achievement~</string>
		<key>Green_Content</key>
		<string>A fatal exception 0E has occurred at 0157:BF7FF831.  The current
application will be terminated.
        
*  Press any key to terminate the current application.
*  Press CTRL+ALT+DEL again to restart your computer.  You will
lose any unsaved information in all applications.
        
Press any key will not continue _</string>
	</dict>
</plist>
